<nav class="navbar bg-warning">
  <div class="container-fluid">
   <i class="fa-solid fa-cart-arrow-down" style="color: ##000;"></i>
    <a class="navbar-brand mx-auto" href="#">
        
      
    </a>
  </div>
</nav>